{% extends "::base.html.twig" %}

{% block title %}SwapMyCloset - Swap your stuff with your friends !{% endblock %}

{% block body %}
<div style="margin : 0 10px;"/>
<p class="lead">
{% block header %}
<h1>SwapMyCloset</h1>
{% endblock %}
</p>


<p class="lead">
{% block content %}
{% endblock %}
</p>

</div>
{% endblock %}